version: "3.9"

services:
  backend:
    build:
      context: ./el_pirata_api
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./el_pirata_api:/var/www

  frontend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3002:3000"
    volumes:
      - ./backend:/app
    depends_on:
      - backend
